In [ ]:
%load_ext autoreload
%autoreload 2
%load_ext anywidget
%env ANYWIDGET_HMR=1

In [ ]:
import pandas as pd
import ipytable
from vega_datasets import data

In [ ]:
df = data.movies()
df['Release_Date'] = pd.to_datetime(df['Release_Date'], format='%b %d %Y')
df['Release_Date'] = df['Release_Date'].dt.date
df = df.apply(lambda col: col.astype("string[pyarrow]") if col.dtype == 'object' else col)

In [ ]:
widget = ipytable.Widget(df)
widget

In [ ]:
import ipytable
import duckdb

conn = duckdb.connect()
conn.execute("CREATE VIEW df AS SELECT * FROM '../data/yellow_tripdata_2024-01.parquet'")
ipytable.Widget(conn)

In [ ]:
import duckdb
conn = duckdb.connect()
conn.execute("create table penguins as select * from 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv'")
conn.execute("""
ALTER TABLE penguins
ADD COLUMN is_male BOOLEAN;
UPDATE penguins
SET is_male = CASE 
    WHEN sex = 'MALE' THEN TRUE 
    WHEN sex = 'FEMALE' THEN FALSE 
    ELSE NULL 
END;
""")
conn.execute("create table movies as select * from 'movies.parquet'")

In [ ]:
ipytable.Widget(conn, table_name="penguins")